body{
text-align:center;
background-color:#FFD180;
}
div{
margin-top:15px;
}
.image-section{
display:flex;
justify-content:center;
}
section-style{
margin-right:25px;
margin-left:25px;
background-color:darkseagreen;
}
.menu{
float:left;
list-style:none;
color:khaki;
background-color:firebrick;
position:fixed;
width:100%;
margin-top:0;
top:0px;
z-index:10;    
}
.link{
display:inline;
font-size:20px;
padding-left:35px;
padding-right:35px;    
}
#img1{
width:100%;    
}
hr{
margin-top:20px;
margin-bottom:20px;
border-top:1px solid #eee;    
}
.img2{
height:200px;
width:250px;
}